@model IEnumerable<OgrenciDers>
    @{
    ViewBag.Title = "AlýnanDersler";
    }

    <h2>AlýnanDersler</h2>

    <a asp-action="OgrenciDersEkle" asp-controller="OgrenciDersleri" asp-route-ogrenciid="@ogrenciid" class="btn btn-outline-dark">Öðrenci Ders Ekle</a>
    <table class="table table-striped table-bordered table-hover table-secondary">
        <thead class="table-dark">
            <tr>
                <th>Ogrenci Id</th>
                <th>Ogrenci Adý</th>
                <th>Ogrenci Soyadý</th>
                <th>Ders Id</th>
                <th>Ders Adý</th>
                <th>Ders Kodu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ogrenciid</td>
                <td>@item.Ogrenci.Ad</td>
                <td>@item.Ogrenci.Soyad</td>
                <td>@item.Dersid</td>
                <td>@item.ders.DersAdý</td>
                <td>@item.ders.DersKodu</td>

            </tr>
        }
        </tbody>
    </table>
